

.todo{max-width: 992px;
margin: auto;
margin-top: 1rem;}


    main{
display: flex;
flex-flow: row   wrap;
justify-content: center;


}

.article-one{
border: solid black 1px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
flex-direction: row;
align-items: center;

}

.wifi {
    width: 40px;
    height: 110px;
}

.article-one img {
width: 150px;
}

.div-one{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
margin-top: 4rem;

}
.operadora-section-2-p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 170px;
}
span {
    margin-top: 15px;
    font-size: 50px;
    color: rgb(148, 12, 160);
}

.movil {
    width: 340px;
    
}  
.p-two {
        
        border: 3px dotted rgb(148, 12, 160);
        border-radius: 20%;
        padding: 20px;
        color: rgb(148, 12, 160);
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
 }
 .b {
        color: black;
        font-size: 30px;
}

.veloz {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
}

.section-one{

display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: flex-start;
text-align: center;
width: 100%;
margin: 0 auto;
 }

