

.todo{max-width: 992px;
margin: auto;
margin-top: 1rem;}


    main{
display: flex;
flex-flow: row   wrap;
justify-content: center;


}

.article-one{
border: solid black 1px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
flex-direction: row;
align-items: center;

}

.wifi {
    width: 40px;
    height: 110px;
}

.article-one img {
width: 150px;
}

