html{

	background-image: linear-gradient(to right, rgba(37, 37, 37, 0.836) , rgba(255, 0, 0, 0.842));
    background-position: center;
    background-repeat: repeat 	;
    background-size: cover;
	
    
    }

    
    main{
display: flex;
flex-wrap: wrap;
flex-direction: column;

}

#contenido{

display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;

}

.caja1{

width: 200px;
height: 40px;

}

.zoomB{

width: 200px;
height: 40px;

}