html{

	background-image: linear-gradient(to right, rgba(37, 37, 37, 0.836) , rgba(255, 0, 0, 0.842));
    background-position: center;
    background-repeat: repeat 	;
    background-size: cover;
	
    
    }



.div-principal{

display: flex;
flex-direction: column;
flex-wrap: wrap;
}


.div-one{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.boton {

    width: 340px;
    height: 50px;
    font-size: 35px;
    text-align: center;

}

    footer {

        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #000000;
        opacity: 0.85;
      
        color: white;

}



