*{
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: normal;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 30px auto;
    padding-bottom: 20px;
}

main {
    margin: auto;
    width: 992px;
    border: 3px black;
    padding: 4px;
    background-color: #FFFF;
    margin-top: 4%;
    height: 100%;
}

.operadora-section1{
    width: 100%;
    text-align: center;
}

.masmovil {
    width: 100px;
    height: 50px;
}

.yoigo {
    width: 170px;
    height: 50px;
    margin-right: 290px;
    margin-left: 290px;
}

.cincog {
    width: 100px;
    height: 60px;
}

.operadora-section-2{
    width: 100%;
    margin-top: 50px;
}

.movil {
    width: 300px;
    height: 370px;
    float: left;
    margin-left: 50px;
    margin-right: 80px;
}

.operadora-section-2-p{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 170px;
}

span {
    margin-top: 15px;
    font-size: 50px;
    color: rgb(148, 12, 160);
}

.operadora-section-3 {
padding-left: 50px;
padding-right: 50px;
margin-bottom: 60px;
}

.operadora-section-3 > p {
    border: 3px dotted rgb(148, 12, 160);
    border-radius: 20%;
    padding: 6px;
    color: rgb(148, 12, 160);
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.b {
    color: black;
    font-size: 30px;
}

.veloz {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.operadora-section-4 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 11px;
  margin-bottom: 370px;
}

.operadora-section-4-div {
    float: left;
    margin-left: 50px;
}

h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
}



.p-one {
    margin-top: 450px;
    text-align: center;
    text-transform: uppercase;
    color: gray;
    font-size: 26px;
}

.p-two {
    text-align: center;
    margin-top: 70px;
    font-size: 23px;
    font-weight: bold;
}

.last-section {
    margin-top: 40px;
}

.input1 {
    margin-top: 15px;
    width: 100%;
}

.last-section-div {
    margin-top: 15px;
    width: 100%;
}

.input2 {
    width: 40%;
}

.input3 {
    width: 57%;
    margin-left: 25px;
}

.last-section-div-one {
    margin-top: 15px;
}

.third-div {
    margin-top: 15px;
}

.label-two {
    margin-left: 300px;
}

button {
    margin-top: 15px;
    margin-left: 880px;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(153, 0, 255);
}

footer {
    margin-top: 15px;
}