html{

	background-image: linear-gradient(to right, rgba(37, 37, 37, 0.836) , rgba(255, 0, 0, 0.842));
    background-position: center;
    background-repeat: repeat 	;
    background-size: cover;
	
    
    }
    
    body {
	font-family: 'Segoe UI';
}


#contenido 
    {
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
text-align: center;

}