html{

	background-image: linear-gradient(to right, rgba(37, 37, 37, 0.836) , rgba(255, 0, 0, 0.842));
    background-position: center;
    background-repeat: repeat 	;
    background-size: cover;
	
    
    }

	#contenido{
		width: 650px;
	}
#contenedor {
margin-top: 0px;
margin-right: auto;
margin-bottom: 10px;
margin-left: auto;
}
#contenedor #contenido {
width: 580px;
border: none;
position: relative;
text-align: center;
margin:auto;
}
#resultado2 {
font-family: "Brygada 1918", serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
position: absolute;
left: 40px;
top: 450px;
width: 513px;
height: 323px;
z-index: 1;
border: 4px groove #666;
padding: 10px;
overflow: auto;
text-align: left;
font-size: 1.3em;
}

#resultado2 p {
text-indent: 50px;
}


.letra:first-letter{
color: #666666;
display: block; /* Lo convertimos en bloque */
float: left; /*Lo mandamos a la izquierda */
font-size: 300%;	/* Hacemos crecer la primera letra */
margin: 10px; /* Y le ponemos un margen cuadrado de 5 píxeles */
}


#img1{

width: 120px;
height: 100px;
}
