html{

	background-image: linear-gradient(to right, rgba(37, 37, 37, 0.836) , rgba(255, 0, 0, 0.842));
    background-position: center;
    background-repeat: repeat 	;
    background-size: cover;
	
    
    }


.div-one{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    
    color: #069;
    margin-top: 5px;
    text-align: center;
    background-color: white;
    width: 90%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
    

}

p {
    font-size: 1.4em;
    color: #666;
    line-height: 1em;
}

.zoom {

    width: 80px;
    height: 60px;
    font-size: 40px;
    text-align: center;

}

.zoomB {

    width: 350px;
    height: 60px;
    font-size: 40px;
    text-align: center;

}

#textoc {
    border: 1px solid #333;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.joven {
    color: #F00;
}

.normal {
    color: #1F1F1F;
}

.TerceraEdad {
    color: #D0E81E;
}

.div-pr{

display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
margin-top: 30px;

}

.border{

border: hidden;
background-color: black;
opacity: 80%;
color:white;
text-align: center;
font-size: 50px;
}