*{
            
    margin:0;
    padding: 0;
}

html{

	background-image: linear-gradient(to right, rgba(37, 37, 37, 0.836) , rgba(255, 0, 0, 0.842));
    background-position: center;
    background-repeat: repeat 	;
    background-size: cover;
	
    
    }


body {

    font-family: verdana, arial;
    font-size: 100%;

}
#titulo{
            
    font-family: arial, sans-serif;
    color:rgb(0, 0, 0);      
    text-align: center;
    
}

.contenidobox{
    padding:20px;
    width: 70%;
    border: 1px solid black;
    max-width:600px;
    background-color: lightgrey;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    margin-left:auto;
    margin-right:auto;
}



img{
    display: inline;
    width: 50px;
   vertical-align: middle;
    margin-right: 10px;
     
}

#barraControles{
    text-align: center;
    background-color: rgba(225,225,225, 1);
    padding: 20px;
    
}
#controles2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.borde{
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
    
}

#contTextarea{
    max-width: 992px;
    padding: 10px;
    margin:auto;
}

textarea{
    display: block;
    width: 90%;
    background-color: lightblue;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    font-size: 12px;
    border:0px;
            
    -webkit-box-shadow: 10px 10px 5px -6px rgba(102,102,102,1);
    -moz-box-shadow: 10px 10px 5px -6px rgba(102,102,102,1);
    
    box-shadow: 10px 10px 5px -6px rgba(102,102,102,1); 
    
}